* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #222222;
	font-size: 14px;
	width: 100%;	
  	margin: 0;
	padding: 0;	
	background: #e9e9e9;
}

html {
	width: 100%;
  	margin: 0;
	padding: 0;	
}

ul, ul li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	transition: all .2s ease;
}

a:hover, a:active, a:focus {
   outline: 0;
	text-decoration: none;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

img {
	max-width: 100%;
}

.wrapper {
	max-width: 1080px;
	margin: 20px auto;
	padding: 40px;
	background-color: #ffffff;
	position: relative;
}

h1 {
	font-size: 30px;
	font-weight: 300;
}

h2 {
	font-size: 20px;
	font-weight: 300;
}

dl {
	counter-reset: section;
	margin-top: 50px;
}

dl .question {
	position: relative;
	padding: 4px 0 10px 150px;
	font-weight: 300;
	font-size: 18px;
}

dl .question:before {
	content:"0"counter(section);
	counter-increment: section;
	position: absolute;
	left: 60px;
	top: 0;
    font-size: 80px;
    font-weight: 300;
    letter-spacing: -0.075em;
    z-index: 3;
}

dl .answer {
	margin: 0 0 30px 0;
	padding: 30px 0 30px 240px;
	font-weight: 300;
	/*backface-visibility: hidden;*/
}

dl .answer .images li {
	display: inline-block;
	vertical-align: top;
	width: 33%;
	padding: 10px 15px;
	margin-bottom: 30px;
	margin-right: -1px;
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0);
	background: #ffffff;
	transition: all .3s ease-out;
	backface-visibility: hidden;
	-webkit-font-smoothing: subpixel-antialiased;
}

dl .answer .images li:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.1) translateZ(0);
	-moz-transform: scale(1.1) translateZ(0);
	-ms-transform: scale(1.1) translateZ(0);
	-o-transform: scale(1.1) translateZ(0);
	border-color: rgba(0,0,0,0.2);
	opacity: 1;
	/*box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.28); */
}

.answer figure img {
	display: block;
	width: 100%;
}

.answer figure {
	position: relative;
	backface-visibility: hidden;
}

.answer figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #ffffff;
	padding: 5px;
	background: rgba(0,0,0, 0.4);
	font-size: 11px;
	backface-visibility: hidden;
}

.textbox {
	padding-top: 10px;
	padding-left: 30px;
	position: relative;
	backface-visibility: hidden;
}

.textbox .check {
	position: absolute;
	top: 10px;
	left: 0;
	width: 14px;
	height: 14px;
	border: 1px solid #aaa;
}

.textbox .check:before {
	content: "\f00c";
	position: absolute;
	top: -2px;
	left: 0px;
	font-family: FontAwesome;
	font-size: 20px;
	color: #000;
	transition: transform .3s ease;
	transform: scale(0);
}

.selected .textbox .check:before {
	transform: scale(1);
}

.anim-elm {
	transition: all .6s ease-in-out;
	-webkit-transform: translateY(60px);
	-moz-transform: translateY(60px);
	-ms-transform: translateY(60px);
	-o-transform: translateY(60px);
	transform: translateY(60px);
	opacity: 0;
}

.anim-elm.animated {
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
	opacity: 1;
}

dl .answer .answered li:not(.selected) {
	opacity: 0.6;
}

dl .answer .answered li:not(.selected):hover {
	opacity: 1;
}

dl .answer .no-images {
	transition: all .3s ease;
}

dl .selected .text,
dl .selected .check:before {
	color: #6c0;
}

dl .answer .no-images li {
	position: relative;
	padding: 10px 0 20px;
	font-size: 18px;
	cursor: pointer;
}

dl .answer .no-images li:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -35px;
	width: 80px;
	height: 1px;
	background: rgba(0,0,0,0.3);
}

.result {
	padding: 40px;
	border:1px solid #e9e9e9;
	overflow: hidden;
	display: none;
}

.result h3 {
	font-size: 16px;
	font-weight: 300;
}

.result h4 {
	font-size: 30px;
	font-weight: 300;
	margin: 20px 0;
}

.result p {
	font-weight: 300;
	line-height: 1.6;
	display: block;
	/*overflow: hidden;*/
}

.result figure {
	position: relative;
	backface-visibility: hidden;
	float: right;
	padding: 0 0 40px 40px;
}

.result figcaption {
	position: absolute;
	bottom: 40px;
    left: 40px;
    width: calc(100% - 40px);
	color: #ffffff;
	padding: 5px;
	background: rgba(0,0,0, 0.4);
	font-size: 11px;
	backface-visibility: hidden;
}

.loader {
	position: absolute;
	width: 100%;
	text-align: center;
	position: absolute;
	bottom: 20px;
	left: 0;
	opacity: 0;
	transition: opacity .3s ease;
}

.loader img {
	width:60px;
}

.loader.active {
	opacity: 1;
}